.ezpz-tweaks-tabs .wp-tab-bar,
.ezpz-tweaks-tabs .wp-admin-bar-tab-bar {
	margin-bottom: -7px !important;
}

.ezpz-tweaks-tabs .wp-tab-bar li,
.ezpz-tweaks-tabs .wp-admin-bar-tab-bar li {
	padding: 10px 15px !important;
	display: inline-block !important;
}

.ezpz-tweaks-tabs li a {
	color: black;
	font-size: 14px;
	text-decoration: none;
}

.ezpz-tweaks-tabs li.wp-tab-active a {
	font-weight: bold;
	color: #0052cc;
}

.ezpz-tweaks-tabs .wp-tab-panel {
	max-height: 100% !important;
	max-width: 1280px !important;
	padding: 20px !important;
}

.ezpz-tweaks-tabs .postbox h3.hndle {
	padding: 0 1em;
}

.ezpz-tweaks-tabs .CodeMirror {
	width: 700px !important;
}

.rtl .cmb2-id-custom-login-url #custom_login_url {
	float: right;
	text-align: left;
}

.rtl .cmb2-id-custom-login-url span  {
	direction: ltr;
}

.cmb2-id-custom-login-url span {
	padding: 8px;
	border-radius: 3px;
	display: inline-block;
}

#dashboard_right_now a.demo-count:before {
	content: "\f115"
}

.setting-title {
	font-weight: bold !important;
	color: #0052cc;
}

/*
 * Font Select styles
 */
 .font-select * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.font-select {
	font-size: 16px;
	width: 240px;
	position: relative;
	display: inline-block;
}

.font-select .fs-drop {
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 999;
	background: #fff;
	color: #000;
	width: 100%;
	border: 1px solid #aaa;
	border-top: 0;
	box-shadow: 0 4px 5px rgba(0,0,0,.15);
	border-radius: 0 0 4px 4px;
}

.font-select > span {
	border: 1px solid #8c8f94;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	color: #32373c;
	min-height: 31px;
	outline: 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 38px;
	line-height: 32px;
	padding: 3px 8px 3px 8px;
	background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23303030' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.font-select-active > span {
	background-color: #eee;
	border-bottom-left-radius : 0;
	border-bottom-right-radius: 0;
}

.font-select .fs-results {
	max-height: 190px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
}

.font-select .fs-results li {
	line-height: 80%;
	padding: 8px;
	margin: 0;
	list-style: none;
	font-size: 18px;
	white-space: nowrap;
}

.font-select .fs-results li.active {
	background-color: #3875d7;
	color: #fff;
	cursor: pointer;
}

.font-select .fs-search {
	border-bottom: 1px solid #aaa;
	padding: 4px;
}

.font-select .fs-search input {
	padding: 7px;
	width: 100%;
	border: 1px solid #aaa;
	font: 16px Helvetica, Sans-serif;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
	border-radius: .1875rem;
}

/* Admin Menu Editor */
#collapse-menu {
	overflow: hidden; 
}

.ezpz-tweaks-tabs #adminmenu li.menu-top {
	min-height: auto !important
}

#adminmenu #admin-menu-editor-edit {
	margin-top: 20px;
	cursor: pointer !important;
}

.folded #adminmenu #admin-menu-editor-edit .wp-menu-name {
	display: none !important;
}

#adminmenu:not(.ui-sortable-disabled) #admin-menu-editor-edit .menu-top, #admin-menu-editor-edit .menu-top {
	background: transparent !important;
	font-size: 13px !important;
	cursor: pointer !important;
}

#adminmenu:not(.ui-sortable-disabled) .ui-sortable-handle a {
	cursor: move !important;
}

#adminmenu:not(.ui-sortable-disabled) .ui-sortable-handle a[href="wpezpz-tweaks-edit-menu"] {
	cursor: pointer !important;
}

#adminmenu:not(.ui-sortable-disabled) .wp-menu-separator.ui-sortable-handle {
	height: 26px;
	border: 2px dashed;
	margin: 0;
	cursor: move !important;
}

#adminmenu .wp-menu-separator.ui-sortable-handle {
	transition: height .5s ease-in-out, border .5s ease-in-out, margin .5s ease-in-out;
}

.cmb-td {
	max-width: 50% !important;
}

#import-export .hndle {
	cursor: default;
}

.ezpz-customlinkdiv input[type="text"] {
    width: 100% !important;
    float: unset !important;
}

.ezpz-customlinkdiv > p {
    margin-bottom: 0 !important;
}

.ezpz-customlinkdiv {
    margin-top: -20px !important;
}

.ezpz-customlinkdiv .button-controls {
	margin-top: 10px !important;
}

.ezpz-customlinkdiv > p label {
	margin-bottom: 4px;
}

.ezpz_tweeks_backups .hndle {
    display: flex;
    justify-content: space-between;
}

.ezpz-tweeks-settings-backup-form td {
    text-align: right;
}

.rtl .ezpz-tweeks-settings-backup-form td {
    text-align: left;
}

.ezpz-tweeks-settings-backup-form .form-table {
	border: 1px solid #b5bfc9;
    border-radius: 6px;
}

.ezpz-tweeks-settings-backup-form th , .ezpz-tweeks-settings-backup-form td {
	border-bottom: 1px solid #b5bfc9;
	padding: 12px 20px;
    vertical-align: middle;
}

.cmb-field-list {
    max-width: 100% !important;
}

.cmb2-wrap input:not([type=hidden]) + .button-secondary,
.cmb2-wrap input:not([type=hidden]) + input  {
    margin-left: 0 !important;
}

.attachment-266x266, .thumbnail img {
	width: 100% !important;
	height: auto !important;
}
/* Range field */
.cmb2-range {
	width: 70%;
	float: left;
	opacity: 0.75;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.cmb2-range:hover {
	opacity: 1;
}
.range-text {
	display: inline-block;
	margin: 0 .5rem
}
@media screen and (max-width:782px) {
	.cmb2-range {
	  width: 100%;
	  float: none;
	}
	.range-text {
	  margin: .5rem 0
	}
}
